/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 12, ../sass/screen.scss */
#container {
  font-family: "arial";
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

/* line 23, ../sass/screen.scss */
.text-area, .result-area {
  float: left;
  width: 50%;
  height: 550px;
}

/* line 27, ../sass/screen.scss */
.text-box {
  width: 90%;
  height: 80%;
}

/* line 34, ../sass/screen.scss */
.footer {
  clear: both;
  font-family: "arial";
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  color: #828282;
  font-size: 0.7em;
}
/* line 39, ../sass/screen.scss */
.footer a {
  color: #828282;
}
